.logo {
  display: flex;
  gap: 60px;
  align-items: center;
  font-weight: 300;
}

.logo__img-block {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    border-radius: 2px;
    height: 45%;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    background-color: rgba(#272727, .3);
  }
}