.title {
  font-size: 55px;
  font-weight: 300;
  text-align: center;
}

.title__color {
  color: $green;
}

.title__important {
  font-weight: 600;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 65%, #d5e4ca 65%, #d5e4ca 100%, transparent 100%, transparent 100%);
}

.title__strong {
  font-weight: 500;
}